.Content {
  max-width: 1280px;
  display: flex;
}

.Sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}

.Page {
  margin-left: 48px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.PublishButton {
  margin-bottom: 32px;
}

.Posts {
  display: flex;
  align-items: flex-start;
}

.PostsCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 16px;
}

.PostsCol:last-child {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .Content {
    flex-direction: column;
  }

  .Sidebar {
    width: 100%;
    margin-bottom: 24px;
    margin-right: 0;
  }
}
