.Form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.Content {
  max-width: 1280px;
  display: flex;
  width: 100%;
  padding: 0 48px;
  justify-content: center;
  align-items: center;
}

.Input {
  margin-bottom: 16px;
  padding: 16px 24px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  outline: none;
  border-radius: 16px;
  border: 1px solid #f2f2f2;
}

.Input:focus {
  border-color: #468dff;
}

@media screen and (max-width: 425px) {
  .Form {
    width: 100%;
  }
}
