.Button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 16px 20px;
  font-family: Montserrat, sans-serif;
  transition: 175ms;
}

.Button.Primary { 
  background-color: #468dff;
}

.Button.Selected {
  color: #468dff;
  background-color: #f1f6ff;
}

.Icon {
  fill: #c7c7c7;
  transition: 175ms;
}

.Icon.Primary {
  fill: #fff;
}

.Icon.Selected {
  fill: #468dff;
}

.Label {
  margin-left: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #c7c7c7;
}

.Label.Primary {
  color: #fff;
}

.Label.Selected {
  color: #468dff;
}

.Button.Primary:hover .Label {
  color: #fff;
}

.Button.Primary:hover .Icon {
  fill: #fff;
}

.Button:hover .Label {
  transition: 175ms;
  color: #468dff;
  transition: 175ms;
}

.Button:hover .Icon {
  fill: #468dff;
  transition: 175ms;
}